
{% use 'Form/bootstrap_4_layout.html.twig' %}

{#
    For the floating animation:
    Change form-group for form-floating
    Inverse block form_widget and form_label
#}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-floating')|trim})} %}{{ block('attributes') }}{% endwith %}>
    {{- form_widget(form, widget_attr) -}}
    {{- form_label(form) -}}
    {{- form_help(form) -}}
    {{- form_errors(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{# Force to define placeholder in the input with the label text for the CSS animation #}
{% block form_widget_simple -%}
    {% if label %}
        {%- set attr = attr|merge({placeholder: label|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{# Force to define placeholder in the textarea with the label text for the CSS animation #}
{% block textarea_widget -%}
    {% if label %}
        {%- set attr = attr|merge({placeholder: label|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock textarea_widget %}
