
{% use 'bootstrap_4_horizontal_layout.html.twig' %}
{% use 'Form/Include/bootstrap_4_common.html.twig' %}
{% use 'Form/Include/bootstrap_4_app.html.twig' %}

{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
        <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' row mb-3' ~ ((not compound or force_error|default(false)) and not valid ? ' is-invalid'))|trim})} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form, widget_attr) -}}
                {{- form_errors(form) -}}
                {{- form_help(form) -}}
            </div>
    </div>
    {%- endif -%}
{%- endblock form_row %}

{# Push the submit button to the right #}
{% block submit_row -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' row mb-3')|trim})} %}{{ block('attributes') }}{% endwith %}>{#--#}
        <div class="{{ block('form_label_class') }}"></div>
        <div class="{{ block('form_group_class') }} text-end">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock submit_row %}
