
.certificate {
    width: 100%;
    .title {
        background-color: $gray-300;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 5px;
    }
    section {
        padding: 10px 0;
        @media #{$min-width-xs} {
            padding: 10px;
        }
        .parameter {
            font-weight: bold;
            display: block;
            @media #{$min-width-md} {
                display: initial;
            }
        }
        .value {
            color: darkred;
            word-break: break-word;
            display: block;
            @media #{$min-width-md} {
                display: initial;
            }
        }
    }
}
