
#servers-nav {
    background-color: $sb-admin-black;
    padding: 10px 15px;
    #servers-nav-title {
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $white;
        @media #{$min-width-sm} {
            width: calc(100% - 285px);
        }
        @media #{$min-width-lg} {
            width: calc(100% - 375px);
        }
        .hashtag {
            color: $orange;
        }
        .name {
            white-space: pre;
        }
    }
    #servers-nav-selection {
        margin-left: auto;
        /* remove the margin from the .row of bootstrap */
        margin-right: 0;
        select {
            height: 30px;
            font-size: 13px;
            margin: 0 10px;
            width: 215px;
            @media #{$min-width-lg} {
                width: 300px;
            }
        }
    }
}
