
{% set modalCss = modalCss ?? '' %}
{% set modalHeaderCss = (modalTheme is defined and modalTheme == 'alert') ? ' bg-danger' : '' %}

<div id="{{ modalId }}Modal" class="modal fade {{ modalCss }}" tabindex="-1" role="dialog" aria-labelledby="{{ modalId }}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header{{ modalHeaderCss }}">
                <h5 id="{{ modalId }}Label" class="modal-title">
                    {% block modal_form_title %}{% endblock %}
                </h5>
                {{ form_row(form.close) }}
            </div>

            {{ form_start(form) }}
                <div class="modal-body ajax-inner">
                    {{ form_errors(form) }}
                    {% block modal_form_body_fields %}{% endblock %}
                </div>
                <div class="modal-footer">
                    {{ form_row(form.cancel) }}
                    {{ form_row(form.submit) }}
                </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>
