{% include 'Partial/Modal/base_form_body.html.twig' %}

{% macro ajaxFormError(id, content) %}
    <div data-form-error="{{ id }}">
        {{ content|raw }}
    </div>
{% endmacro %}

{% macro renderFormErrors(form) %}

    {% use "Module/block.html.twig" %}

    {% if form.vars['errors'] is defined and form.vars['errors']|length %}
        {{ _self.ajaxFormError('root', form_errors(form)) }}
    {% endif %}

    {% for children in form %}

        {% if children.vars['errors'] is defined and children.vars['errors']|length %}

            {{ _self.ajaxFormError(children.vars['id'], form_errors(children)) }}

        {% elseif children.children|length %}

            {{ _self.renderFormErrors(children.children) }}

        {% endif %}

    {% endfor %}

{% endmacro %}

{{ _self.renderFormErrors(form)|spaceless }}
