
{% trans_default_domain 'channels' %}

<li>
    <a href="#" data-bs-toggle="modal" data-bs-target="#kickUserModal" class="dropdown-item">
        {{ 'kick_user'|trans() }}
    </a>
</li>
<li>
    <a href="#" data-bs-toggle="modal" data-bs-target="#banUserModal" class="dropdown-item">
        {{ 'ban_user'|trans() }}
    </a>
</li>
{% if viewModel.isGrantedToModifyUserName %}
    <li>
        <a href="#" data-bs-toggle="modal" data-bs-target="#modifyUserNameModal" class="dropdown-item">
            {{ 'modify_user_name'|trans() }}
        </a>
    </li>
{% endif %}
<li>
    <a href="#" data-bs-toggle="modal" data-bs-target="#sendMessageToUserModal" class="dropdown-item">
        {{ 'send_private_message'|trans() }}
    </a>
</li>
<li>
    <a v-if="selectedNode.prioritySpeaker" href="#" @click="prioritySpeaker('deactivate');" data-bs-target="#deactivatePrioritySpeaker" class="dropdown-item">
        {{ 'deactivate_priority_speaker'|trans() }}
    </a>
    <a v-else href="#" @click="prioritySpeaker('activate');" data-bs-target="#activatePrioritySpeaker" class="dropdown-item">
        {{ 'activate_priority_speaker'|trans() }}
    </a>
</li>
