
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    @media #{$min-width-md} {
        font-size: 5.5rem;
        line-height: 5.5rem;
    }
}

h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    @media #{$min-width-md} {
        font-size: 4rem;
        line-height: 4rem;
    }
}

h3 {
    font-size: 2rem;
    line-height: 2rem;
    @media #{$min-width-md} {
        font-size: 3rem;
        line-height: 3rem;
    }
}

h4 {
    font-size: 1.75rem;
    line-height: 1.75rem;
    @media #{$min-width-md} {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }
}

h5 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    @media #{$min-width-md} {
        font-size: 1.50rem;
        line-height: 1.50rem;
    }
}

h6 {
    font-size: 1rem;
    line-height: 1rem;
    @media #{$min-width-md} {
        font-size: 1.15rem;
        line-height: 1.15rem;
    }
}
