{% extends 'bundles/KnpMenu/base_menu.html.twig' %}

{% trans_default_domain 'server-menu' %}

{% block server_status_button %}
    {% set options = item.extras.block %}
    {% set serverId = options.serverId %}
    {% set serverIdRunning = options.isRunning %}
    {% include 'Module/server_status_button.html.twig' %}
{% endblock server_status_button %}

{% block connection_button %}
    {% set options = item.extras.block %}
    <a href="{{ options.connectionUri }}" title="{{ 'connecting_to_the_server'|trans }}" class="img-button">
        <img src="{{ asset('assets/img/mumble-32x32.png') }}" alt="{{ 'connecting_to_the_server'|trans }}" />
    </a>
{% endblock connection_button %}

{# Implement item.extras.block and collapseElement blocks #}
{% block item %}
    {% if item.displayed %}
        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {# displaying the item #}
        {% import _self as knp_menu %}
        <li{{ knp_menu.attributes(attributes) }}>
            {%- if item.extras.block is defined %}
                {{ block(item.extras.block.name) }}
{#            {%- elseif item.uri is not empty and item.uri == 'collapse' %}#}
{#                    {{ block('collapseElement') }}#}
            {%- elseif item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                {{ block('linkElement') }}
            {%- else %}
                {{ block('spanElement') }}
            {%- endif %}
            {# render the list of children#}
            {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
            {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
            {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
            {{ block('list') }}
        </li>
    {% endif %}
{% endblock item %}

{# New block collapseElement #}
{#{% block collapseElement -%}#}
{#    {% import _self as knp_menu %}#}
{#    {%- set isAncestor = matcher.isAncestor(item, options.matchingDepth) %}#}
{#    {% set classes = isAncestor ? options.ancestorClass : 'collapsed' %}#}
{#    {% set expended = isAncestor ? 'true' : 'false' %}#}
{#    {% set collapseId = 'collapse'~ item.name|capitalize %}#}
{#    <a class="nav-link {{ classes }}" href="#" data-bs-toggle="collapse" data-bs-target="#{{ collapseId }}" aria-expanded="{{ expended }}" aria-controls="{{ collapseId }}">#}
{#        {{ block('label') }}#}
{#        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>#}
{#    </a>#}

{#    {% if item.hasChildren %}#}
{#        {% set show = isAncestor ? 'show' : '' %}#}
{#        {% set parentId = (item.parent.name != item.root.name) ? item.parent.name : '' %}#}
{#        <div class="collapse {{ show }}" id="{{ collapseId }}" data-bs-parent="#sidenavAccordion{{ parentId }}">#}
{#            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{{ item.name }}">#}
{#                #}{# render the list of children#}
{#                {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}#}
{#                {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}#}
{#                {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}#}
{#                {{ block('list') }}#}
{#            </nav>#}
{#        </div>#}
{#    {% endif %}#}
{#{%- endblock %}#}
