{% extends 'bundles/KnpMenu/base_menu.html.twig' %}

{# Remove the <ul></ul> tag from the original template #}
{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        {{ block('children') }}
    {% endif %}
{% endblock %}

{# Remove the <li></li> tag, implement the block collapseElement #}
{% block item %}
    {% if item.displayed %}
        {# building the class of the item #}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {%- if item.actsLikeFirst %}
            {%- set classes = classes|merge([options.firstClass]) %}
        {%- endif %}
        {%- if item.actsLikeLast %}
            {%- set classes = classes|merge([options.lastClass]) %}
        {%- endif %}

        {# Mark item as "leaf" (no children) or as "branch" (has children that are displayed) #}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {# displaying the item #}
        {% import _self as knp_menu %}
        {%- if item.uri is not empty and item.uri == 'collapse' %}
            {{ block('collapseElement') }}
        {%- elseif item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
            {{ block('linkElement') }}
        {%- else %}
            {{ block('spanElement') }}
        {%- endif %}
    {% endif %}
{% endblock %}

{# New block icon #}
{% block icon %}
    {% if item.extras.icon is defined %}
        <div class="sb-nav-link-icon">
            <i class="{{ item.extras.icon }}"></i>
        </div>
    {% endif %}
{% endblock %}

{# Implement the icon block #}
{% block linkElement %}
    {% import _self as knp_menu %}
    <a href="{{ item.uri }}" {{ knp_menu.attributes(attributes) }}>
        {{ block('icon') }}
        {{ block('label') }}
    </a>
{% endblock %}

{# Implement the block icon #}
{% block spanElement -%}
    {% import _self as knp_menu %}
    {{ block('icon') }}
    <span{{ knp_menu.attributes(item.labelAttributes) }}>{{ block('label') }}</span>
{%- endblock %}

{# New block collapseElement #}
{% block collapseElement -%}
    {% import _self as knp_menu %}
    {%- set isAncestor = matcher.isAncestor(item, options.matchingDepth) %}
    {% set classes = isAncestor ? options.ancestorClass : 'collapsed' %}
    {% set expended = isAncestor ? 'true' : 'false' %}
    {% set collapseId = 'collapse'~ item.name|capitalize %}
    <a class="nav-link {{ classes }}" href="#" data-bs-toggle="collapse" data-bs-target="#{{ collapseId }}" aria-expanded="{{ expended }}" aria-controls="{{ collapseId }}">
        {{ block('icon') }}
        {{ block('label') }}
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>

    {% if item.hasChildren %}
        {% set show = isAncestor ? 'show' : '' %}
        {% set parentId = (item.parent.name != item.root.name) ? item.parent.name : '' %}
        <div class="collapse {{ show }}" id="{{ collapseId }}" data-bs-parent="#sidenavAccordion{{ parentId }}">
            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{{ item.name }}">
                {# render the list of children#}
                {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
                {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
                {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
                {{ block('list') }}
            </nav>
        </div>
    {% endif %}
{%- endblock %}
