{% extends 'Page/base.html.twig' %}

{% block body %}

    <div class="flex-grow-1 row justify-content-center align-items-center">
        <div class="col-md-8 col-xl-5">

            {% if error is defined and error is not empty %}
                {% set alert_warning_block_text = error.messageKey|trans(error.messageData, 'security') %}
                {{ block('alert_warning_block') }}
            {% endif %}

            <div class="card shadow-lg rounded-lg">

                <div class="card-header">
                    <h5 class="my-3">
                        {% block app_security_title %}{% endblock app_security_title %}
                    </h5>
                </div>

                <div class="card-body">
                    {% block app_security_body %}{% endblock app_security_body %}
                </div>

                <div class="card-footer text-center py-3">
                    <div class="small">
                        {% block app_security_footer %}{% endblock app_security_footer %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
