
{% extends 'Module/AlertBlock/base_centered_message.html.twig' %}

{% block centered_message_inner %}

    {% set message = viewModel.errorMessage %}

    <div class="alert alert-info">
        <h6>{{ 'error'|trans({}, 'common') }}</h6>
        {{ message['key']|trans({}, message['translationDomain']) }}
    </div>

{% endblock %}
