{% extends 'Page/base.html.twig' %}

{% trans_default_domain 'http-error' %}

{% block body %}
    <div class="container-error">

        <div class="app-container">

            <h5 class="error-title">{{ 'an_error_occured'|trans }}</h5>

            <h6 class="error-header">
                {{ 'the_server_returned_error'|trans({'%error_server_message%' : error_server_message}) }}
            </h6>

            <div class="error-body">
                {% block error_body %}
                    <p>
                        Something is broken. Please let us know what you were doing when this error occurred.
                        We will fix it as soon as possible. Sorry for any inconvenience caused.
                    </p>
                {% endblock %}
            </div>

        </div>

    </div>
{% endblock %}
