
#MumbleBansContainer {
    table {
        td.selection {
            div {
                text-overflow: ellipsis;
                overflow: hidden;
                .name {
                    white-space: pre;
                    color: $gray-800;
                    &:before {
                        color: $gray-400;
                        font-family: "Font Awesome 5 Free";
                        content: '\f007';
                        font-weight: 900;
                        font-size: 13px;
                        margin-right: 5px;
                    }
                }
                .reason {
                    color: $gray-600;
                    font-style: italic;
                    &:before {
                        content: '\00AB';
                        margin-right: 5px;
                    }
                    &:after {
                        content: '\00BB';
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
