
$breakpoint: $min-width-md;

#MumbleSettingsContainer {
    display: flex;
    flex-direction: column;
    form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .tab-content {
            padding: 15px 0;
            flex-grow: 1;
            .setting-group {
                &.row {
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 10px;
                    @media #{$breakpoint} {
                        margin-bottom: 0;
                    }
                }
                .col-form-label,
                .html-output {
                    height: 35px;
                    line-height: 35px;
                }
                .col-form-label {
                    font-size: 13px;
                    background-color: $gray-300;
                    border: 1px solid $gray-400;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    font-weight: bold;
                    @media #{$breakpoint} {
                        text-align: right;
                    }
                }
                .html-output {
                    background-color: $gray-100;
                    padding: 2px 10px;
                    .inner {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &.modified {
                        color: blue;
                    }
                }
                .input-control {
                    padding: 0;
                }
                input,
                select {
                    height: 1.75rem;
                    margin: auto;
                    font-size: 13px;
                    @media #{$breakpoint} {
                        width: 95%;
                    }
                }
                &.is-invalid {
                    label {
                        color: red;
                    }
                }
            }
            .invalid-feedback {
                text-align: left;
                @media #{$breakpoint} {
                    margin: 3px 12.5px;
                }
                .form-error-message {
                    font-weight: initial;
                }
            }
        }
    }
}
