
{% trans_default_domain 'channels' %}

<button class="btn dropdown-toggle" :class="selectedNode.class" type="button"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ 'btn_action'|trans({},'common') }}
</button>

<ul class="dropdown-menu">
    <template v-if="selectedNode.class === 'channel'">
        {% include 'Page/Server/Channels/Partial/ActionDropdown/channel.html.twig' %}
    </template>
    <template v-if="selectedNode.class === 'user'">
        {% include 'Page/Server/Channels/Partial/ActionDropdown/user.html.twig' %}
    </template>
</ul>

{# Add the teminate action button #}
<button v-if="actionModeOn()" id="terminate-action" class="btn btn-outline-warning" @click="terminateAction();" type="button">
    {{ 'terminate'|trans({},'common') }}
    <i class="fas fa-times"></i>
</button>
