
{% extends 'Partial/Modal/ajax_form.html.twig' %}

{% trans_default_domain 'dashboard' %}

{% set modalId = 'sendMessage' %}
{% set form = forms[modalId] %}

{% block modal_form_title %}
    {{ 'send_message_to_servers'|trans({}, 'Form') }}
{% endblock %}

{% block modal_form_body_fields %}
    {{ form_row(form.message) }}
{% endblock %}
