
{% extends 'Partial/Modal/ajax_form.html.twig' %}

{% trans_default_domain 'channels' %}

{% set modalId = 'editChannel' %}
{% set form = forms[modalId] %}

{% set modalCss = 'stop-update-mumble-tree' %}

{% block modal_form_title %}
    {{ 'form_title_edit_channel'|trans({}, 'form-edit-channel') }}
{% endblock %}

{% block modal_form_body_fields %}

    {{ form_row(form.name) }}

    <div class="mb-3 row align-items-center">
        <div class="col-sm-6">
            {{ form_row(form.defaultChannel) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.position) }}
        </div>
        {{ form_row(form.description) }}
        {{ form_row(form.password) }}
    </div>

{% endblock %}
